.carousel-item h1 
{
color:#fff;
font-size: 20px;
    margin: 75px auto;
    text-align: center;
}
.login-block 
{
  
    width: 50%;
    margin: 0 auto;

}
.signup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background-color: rgba(0, 0, 0, 0.76); 
  background-color: rgba(0, 0, 0, 0.33);
}
.login_sec
{
  
    padding: 0px;
    background-color: #f8fafb;

}
.login_sec img 
{
  
    margin: 24px auto;

}
.banner-sec {
   background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat left bottom;
   background-size: cover;
   min-height: 500px;
   border-radius: 0 10px 10px 0;
   padding: 0;
}



.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
}

.carousel-indicators {

  bottom: -41px;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.container {

-webkit-box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2);
box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2);
border-radius: 0.375rem;
margin-bottom: 5%;
margin-top: 0%;

}
.container2 {

-webkit-box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2);
box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2);
border-radius: 0.375rem;
margin-bottom: 8%;
padding: 10px;
margin-top: 0%;

}

.carousel-inner {
  border-radius: 0 10px 10px 0;
}

.carousel-caption {
  text-align: left;
  left: 5%;
}

.login-sec {
  padding: 50px 30px;
  position: relative;
}

.login-sec .copy-text {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 13px;
  text-align: center;
}

.login-sec .copy-text i {
  color: vilotecolor;
}

.login-sec .copy-text a {
  color: vilotecolor;
}

.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  
}

.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: vilotecolor;
  display: block;
  margin-top: 8px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto
}


.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
}

.banner-text h2 {
  color: #fff;
  font-weight: 600;
}

.banner-text h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #FFF;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}

.banner-text p {
  color: #fff;
}



/* login start */

.container-login100-form-btn {
  margin: 0 auto;
  display: block;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
}

.login100-form {
  width: 100%;
}


.validate-input {
  position: relative;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 5%;
}

.label-input100 {

  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

.input100:focus+.focus-input100::before {
  width: 100%;
}



.input100 {
  font-size: 12px;
  color: #333333;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 30px;
  background: transparent;
  padding: 0 7px 0 43px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #7f7f7f;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.focus-input100::after {
  font-family: "FontAwesome";
  content: "\f007";
  color: #adadad;
  font-size: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.focus-input100.password::after {
  font-family: "FontAwesome";
  content: "\f023";
  color: #adadad;
  font-size: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

input {
  outline: none;
  border: none;
}



.flex-c-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.login100-social-item {
  font-size: 12px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 5px;
}

.bg1 {
  background-color: #3b5998;
}


.bg3 {
  background-color: #ea4335;
}

.contenedor{
  width: 80%;
  float: left;
  margin-top: -15px;
}
#titulo-rol{
  color: white;
}
.rol{
  width: 40%; 
  height: 400px; 
  float: right; 
  background-color: #d9d9d9;
  margin-right: 1%; 
  margin-top: 6.3%; 
  font-style: italic; 
  border-radius: 4px;
}
#titulo{
  width: 100%; 
  height: 43px; 
  background-color: #184742;

}
#cbox2{
  margin-left: 3px;
  
}
#letra{
  font-size: 18px;
}
#id_usuario{
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 30px;
}

#busqueda{
  border-radius: 5px; 
  width: 353px; 
  height: 32px;
  background: #ffffff;
  border: 1px solid black;
  z-index: 500;
  box-sizing: content-box;
  float: left; margin-left: 80%; margin-top: -44px;
}
.busqueda{
  border-radius: 5px; 
  width: 353px; 
  height: 32px;
  background: #ffffff;
  border: 1px solid black;
  z-index: 600;
  position: absolute;
  box-sizing: content-box;
  float: left; margin-left: 78%; margin-top: -62px;
}

.imagenCisfa{
  width: 190px;
  height: 120px;
  margin-top: -100px;
  background: royalblue;
  float: right;
  margin-right: 5%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbNIGjQwMRYhvjMiXYRxAO7XiFrk9pcpd1hA&usqp=CAU);
  background-repeat: no-repeat;
  background-size: 100%;
}
#cabecera{
  color: aliceblue; 
  font-style: oblique; 
  font-size: 22px; 
  float: right; 
  margin-right: 33%; 
  padding: 10px;
}
#cabecera2{
  color: aliceblue; 
  font-style: oblique; 
  font-size: 22px; 
  float: right; 
  margin-right: 33%; 
  padding: 10px;
}
@media screen and (max-width: 900px) {
  #cabecera{
  display:none;
  }
  }
  @media screen and (min-width: 900px) {
    #cabecera2{
    display:none;
    }
    }

.rol-user{
  width: 250px;
  height: 300px;
  background-color: #ebebeb;
  float: left;
  position: relative;
  margin-left: 65%;
  margin-top: 6.5%;
}
.cabecera{
  width: 100%;
  height: 40px;
  background-color: #184742;
}
.cabecera>h1{
  color: white;
  font-size: 17px;
  font-style: italic;
  margin-top: 10px;
  float: left;
  margin-left: 15px;
}
#aplicar-cambios{
  width: 80px;
  height: 35px;
  float: left;
  margin-left: 35%;
  background-color: blue;
  color: white;
  position: absolute;
  border-radius: 4px;
  margin-top: 15px;
}
.id_user{
  width: 85%;
  height: 22px;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 5px;
}

.cabecera-contrato{
  width: 78%;
  height: 150px;
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
 margin-left: 11%;
}

.cabecera-contrato>h1{
  color: aliceblue;
  font-size: 28px;
  font-style: inherit;
  float: left;
  margin-left: 30%;
  margin-top: 10px;
}

.input-dato{
  width: 300px;
  height: 25px;
  border: 1px solid black;
  float: left;
}
.tabla-monto{
  width: 250px;
  height: 250px;
  border: 1px solid black;
  float: right;

}
#guardar{
  color: #0ef13f;
  font-size: 21px;
}
#add{
  color: black;
  font-size: 21px;
}
#suministro{
  color: green;
  font-size: 21px;
  text-align: center;
}
#ver{
  color: #0e70f1;
  font-size: 21px;
}
#pdf{
  width: 70px;
  height: 70px;
}
#eliminar{
  color: #f10e0e;
  font-size: 21px;

}
#verContrato{
  color: #160e8f;
  font-size: 21px;
  float: left;
  margin-left: 15px;
}
.imagen1{
  width: 100%;
  max-width: 350px;
  height: 100px;
  background-color: #ffffff;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbNIGjQwMRYhvjMiXYRxAO7XiFrk9pcpd1hA&usqp=CAU);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: 10px;
  float: left;
  margin-left: -10px;

}
.hospital-text{
  width: 100%;
  max-width: 550px;
  height: 80px;
  background-color: #ffffff;
  float: left;
  margin-left: 220px;
  margin-top: 12%;
  position: fixed;
  
}
.hospital-text>h5{
  color: black;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 19px;
}
.hospital-text>h6{
  color: black;
  font-size: 15px;
  text-align: center;
  margin-top: -22px;
}

.descripcion{
  width: 100%;
  max-width: 400px;
  margin-top: 15px;
  height: 100px;
  background-color: #ffffff;
  float: right;
  margin-right: 10px;
  
}
.descripcion>h5{
  color: black;
  font-size: 16px;
  font-style: italic;
  text-align: right;
  margin-right: 4px;
  margin-top: 19px;
}
.descripcion>h6{
  color: black;
  font-size: 16px;
  font-style: italic;
  text-align: right;
  margin-right: 4px;
  margin-top: -30px;
}
.content-table{
  width: 100%;
  padding: 15px;
  margin-top: -40px;

}
body{
  background: white;

}
 /*estilos nuevos*/
.carrusel {
  width: 100%;
  height: auto;
  margin-top: 10%;
}
.box1 {
  display: grid;
  gap: 1rem;
  grid-template-columns:  1fr 3fr;
  margin-top: 0px;
  margin-left: 0px;
  padding: 5px;

}
#card {
  height: 93vh;
  overflow: hidden;
  padding: 10px;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 10px 5px 5px #515151;
  border-radius: 10px;
  color: #333;
  cursor: pointer;
  overflow-y: scroll;
  margin-top:0;
  margin-bottom:0;

}
.adaptar {

margin-left: auto;
margin-right: auto;
display: block;
}

h3 {
color: #06477B;
text-align: center;

}

h4 {
color: white;
text-align: center;
font-size: 1.5em;
}

.registro {
width: 100%;
height: auto;
background: #C8C8C8;

}

label {
font-size: 13px;
color: black;
}


.form-control {
box-shadow: 0 0 1px #000;
}

p {
font-size: .9em;
text-align: justify;
color: black;
font-style: normal;
}




    